@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
  max-width: 100%;
}

body.corpo {
  background-image: linear-gradient(118.36deg, #000000 0%, #006F04 100%) !important;
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
}
.main {
  width: 331px;
  height: 500px;
  background: #FAFFF3;
  border: 3px solid rgba(63, 166, 0, 0.69);
  box-shadow: 0px 1px 177px 5px rgba(82, 255, 0, 0.35);
  border-radius: 4px;
}
.cabecalho {
  width: 170px;
  margin: 0 auto;

  border-bottom: 1px solid #3FA600;
}
.cabecalho-titulo {
  width: 147px;
  height: 29px;
  margin: 34px 0 0 0;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  display: flex;
  align-items: center;
  text-align: center;
}
.email {
  width: 274px;
  height: 38px;
  margin-top: 56px !important;
  border-radius: 4px;
}
.senha {
  width: 238px;
  height: 38px;
  border-radius: 4px;
}
.identificacao{
  width: 171px;
  height: 38px;
}
.identificacao-select {
  width: 171px;
  height: 38px;
  border-radius: 4px;
  margin-bottom: 33px !important;
}
.option {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #CACACA;
}
 /* Chrome, Safari, Opera */
.placeholders::-webkit-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #CACACA;
}

/* Firefox 18- */
.placeholders:-moz-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #CACACA;
}

/* Firefox 19+ */
.placeholders::-moz-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #CACACA;
}

/* IE10+ */
.placeholders:-ms-input-placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #CACACA;
}
.btn-outline-primary {
    color: #BBE1A4 !important;
    border-color: #A5D785 !important;
    margin-bottom: 18px !important;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-check {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
}
.form-check-label {
  margin-left: 6px;
}

.dica {
  width: 325px;
  border-bottom: 1px solid #C9D5C1;
}
.dica-txt {
  width: 274px;
  height: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #A2A2A2;
}

.rodape {
  height: 30px;
}
.rodape-footer {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #A2A2A2;
}
.rodape-footer a{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #A2A2A2;
  padding-left: 3px;
}